html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Nav Bar Styling */

.header {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow: hidden;
    padding: 20px 10px;
  }
  
  .header a {
    margin-top: 10px;
    float: left;
    color: black;
    text-align: center;
    padding: 12px 32px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 30px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: #84dccf;
    color: white;
  }
  
  .header-right {
    float: right;
  }


/* Banner Styling */

section:first-of-type{
    height: 500px;
}

.heroImage{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("landing_bannerimage.jpg");
    filter: blur(2px);
    border: 5px solid white;
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.hero_text{
    text-align: center;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -350%);
    color: black;
}

    /* "Start Your Free Trial" Button */
    .btn1 {
        font-family: 'Roboto',sans-serif;
        display: inline-block;
        width: 200px;
        padding: 14px 30px;
        color: white;
        background-color: #84dccf;
        text-align: center;
        outline: none;
        text-decoration: none;
        border-radius: 15px;
        transition: background-color 0.2s ease-out, color 0.2s ease-out;
    }

    .btn1:hover, .btn1:active{
        background-color: rgba(255, 255, 255, 0.7);
        color: #84dccf;
        border: 2px solid #84dccf;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }


/* Font Styling */
h1{
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    line-height: 50px;
    text-align: center;
    margin-top: 100px;
}

h2{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    line-height: 50px;
    text-align: center;
    margin-top: 80px;
    color: #84dccf;
}

h3{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #697783;
}

p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #697783;
}

/* Your Fitness Package & Testimonial Styling */
    /* Using grid to layout */

.container{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 3fr;
    grid-gap: 30px;
  }

.box{
    background-color: #f7f7f7;
    width: 230px;
    padding: 30px;
    border-radius: 20px;
  }

#section2 > .container {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    grid-gap: 30px;
  }


/* "Join Now" Button */

#section3 > .btn1 {
    display: block;
    align-items: center;
    margin: 50px auto;
}


/*For the footer */
.container1{ 
    padding-top: 50px;
    padding-bottom: 50px;
  }

footer{
    background-color: #717171;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;  
 }

.logo1{
    float: left;
}

a.footer{
    float: right;
    color: white;
    padding-right: 100px;
}

a.footer:link {
    text-decoration: none;
}

a.footer:hover {
    text-decoration: underline;
}

/* ---------------------
     MEDIA QUERIES 
--------------------- */

@media only screen and (max-width: 500px) {

/* header change */
.header a {
    float: none;
    display: block;
    text-align: left;
    }
    
.header-right {
    float: none;
    }

/* hero text re-align */
.hero_text{
    text-align: center;
    position: relative;
    padding: 0px 55px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -300%);
}

/* realign cards */

.container{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    padding-left: 70px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

.box{
    background-color: #f7f7f7;
    width: 230px;
    padding: 30px;
    border-radius: 20px;
  }

#section2 > .container {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding-right: 38px;
  }

}
