body, html{
    height: 100%;
    width: 100%;
    margin: 0;
}

.heroImage{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("landing_bannerimage.jpg");
    filter: blur(2px);
    border: 5px solid white;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.hero_text{
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

h1{
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    line-height: 50px;
    text-align: center;
    margin-top: 100px;
}

a{
    margin-top: 8px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.btn {
    display: inline-block;
    width: 200px;
    padding: 12px 30px;
    color: white;
    background-color: #84dccf;
    text-align: center;
    outline: none;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover, .btn:active{
    background-color: white;
    color: #84dccf;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

header{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

button{
    padding: 9px 25px;
    color: white;
    background-color: #84dccf;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-out, color 0.2s ease-out;
}

button.login{
    padding: 9px 25px;
    color: #84dccf;
    background-color: white;
    border-radius: 50px;
    border: 2px solid #84dccf;
    cursor: pointer;
    transition: all 0.2s ease-out, color 0.2s ease-out;
}

button:hover{
    background-color: white;
    color: #84dccf;
}

h2{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    line-height: 50px;
    text-align: center;
    margin-top: 100px;
    color: #84dccf;
}

div{
    background: #666666
}