html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Header styling */
.navBar {
    padding-top: 18px;
}

nav{
    position: relative;
    padding: 10px 20px 10px 10px;
    text-align: right;
    z-index: 1;
    margin: 0px 70px 0px 0px;
    width: (100%-60px);
}

.logo{
    float: left;
    padding-left: 20px;
}

.person{
    margin-bottom: -20px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.menu li a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #697783;
    margin: 0px 30px;
    display: inline-block;
}

.menu li {
    list-style: none;
    display: inline-block;
}


    /* Menu item hover effect */
    .link::after{
        margin-top: 40px;
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: rgba(0, 0, 0, 0.459);
        transition: width .3s;
    }
    .link:hover::after{
        width: 100%;
        transition: width .3s;
    }

    /* Profile icon */

    .material-icons.blue{
        color: #84dccf;
        font-size: 40px;
        background-color: #697783;
    }

    button{
        /* color: #697783; */
        /* text-align: center; */
        width: 20px;
        height:20px;
        display: inline-block;
        outline: none;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }

    /* Sign Out Button */
    .btn {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        width: 70px;
        padding: 10px 10px;
        color: #697783;
        border: 1px solid #697783;
        text-align: center;
        outline: none;
        text-decoration: none;
        border-radius: 10px;
        transition: background-color 0.2s ease-out, color 0.2s ease-out;
    }

    .btn:hover, .btn:active{
        background-color: #697783;
        color: white;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }

    /* Header bottom border line */
    .bottom-border{
        width: 100%;
        height: 2px;
        margin-top: -28px;
        background-color: rgba(0, 0, 0, 0.11);
    }


/* Banner Styling */

section:first-of-type{
    height: 400px;
}

.heroImage{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("endpoint-banner.jpg");
    overflow: hidden;
    margin-top: 30px;
    width: 2000px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.hero_text{
    text-align: left;
    position: relative;
    left: 30%;
    transform: translate(-50%, -160%);
    color: black;
    padding-bottom: 100px; /* add to move title text up */
}

/* Font Styling */
h1{
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    line-height: 50px;
    text-align: center;
    margin-top: 100px;
}

h2{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    line-height: 50px;
    text-align: center;
    margin-top: 80px;
    color: #84dccf;
}

h3{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #697783;
}

p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #697783;
}

/* Start Today's Workout Button Styling */

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
}

.btn1 {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 200px;
    padding: 14px 30px;
    color: white;
    background-color: #84dccf;
    text-align: center;
    outline: none;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn1:hover, .btn1:active{
    background-color: rgba(255, 255, 255, 0.7);
    color: #84dccf;
    border: 2px solid #84dccf;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

/* Main Body Styling */
    /* Uses grid to layout */

.container{
    margin-top: 100px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 20px;
  }

.box{
    background-color: #ebebeb;
    width: 300px;
    height: 200px;
    padding: 30px;
    border-radius: 20px;
  }

  /* Buttons (In Grid) Styling */
  button{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: inline-block;
    width: 150px;
    height: 20px;
    margin-top: 45px;
    padding: 10px 0px 28px 0px;
    color: white;
    background-color: #84dccf;
    text-align: center;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
  }

  button:hover, .button:active{
    background-color: #6cb3a8;
    color: white;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

/* Background images in boxes */

.box:nth-child(2){
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("browseworkout.jpg");
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box:nth-child(3){
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("meal.jpg");
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box:nth-child(6){
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("track.jpg");
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box:nth-child(7){
    background-image: linear-gradient(rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.90)), url("connect.jpg");
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#blankSpace{
    width: 100%;
    height: 100px;
}

/*For the footer */
.container1{ 
    padding-top: 50px;
    padding-bottom: 50px;
  }

footer{
    background-color: #717171;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;  
 }

.logo1{
    float: left;
}

a{
    color: white;
    padding-left: 50px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Mheader{
    display:none;
}

/* ---------------------
     MEDIA QUERIES 
--------------------- */

@media only screen and (max-width: 500px) {

 /* Hide desktop header and show new mobile header */
header{
    display: none;
}

.Mheader{
    display:block;
}

/* header change */
.Mheader a {
    margin-top: 10px;
    float: none;
    display: block;
    color: black;
    text-align: left;
    padding: 12px 52px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
  }

  .btn2{
      width: 200px;
  }
    
  .box2{
      width: 200px;
      border-bottom: 1px solid #cbcbcb;
  }
.Mheader-right {
    display: block;
    }

.Mheader {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow: hidden;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    
    .Mheader a.logo1 {
    font-size: 25px;
    font-weight: bold;
    }

/* banner change */
.heroImage{
    width: 800px;
  }

h1{
    font-size: 40px;
    text-align: center;
}

.hero_text{
    transform: translate(-30%, -160%);
}

/* Change Body (grid) format*/

.container{
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-left: 30px;
  }

}

